@font-face {
  font-family: '../font/Roboto';
  src: url('../font/../font/Roboto-Black.eot');
  src: url('../font/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('../font/Roboto-Black.woff2') format('woff2'),
  url('../font/Roboto-Black.woff') format('woff'),
  url('../font/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '../font/Roboto';
  src: url('../font/Roboto-Bold.eot');
  src: url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/Roboto-Bold.woff2') format('woff2'),
  url('../font/Roboto-Bold.woff') format('woff'),
  url('../font/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '../font/Roboto';
  src: url('../font/Roboto-BlackItalic.eot');
  src: url('../font/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/Roboto-BlackItalic.woff2') format('woff2'),
  url('../font/Roboto-BlackItalic.woff') format('woff'),
  url('../font/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '../font/Roboto';
  src: url('../font/Roboto-BoldItalic.eot');
  src: url('../font/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/Roboto-BoldItalic.woff2') format('woff2'),
  url('../font/Roboto-BoldItalic.woff') format('woff'),
  url('../font/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '../font/Roboto';
  src: url('../font/Roboto-Italic.eot');
  src: url('../font/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
  url('../font/Roboto-Italic.woff2') format('woff2'),
  url('../font/Roboto-Italic.woff') format('woff'),
  url('../font/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '../font/Roboto';
  src: url('../font/Roboto-Light.eot');
  src: url('../font/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/Roboto-Light.woff2') format('woff2'),
  url('../font/Roboto-Light.woff') format('woff'),
  url('../font/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '../font/Roboto';
  src: url('../font/Roboto-LightItalic.eot');
  src: url('../font/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/Roboto-LightItalic.woff2') format('woff2'),
  url('../font/Roboto-LightItalic.woff') format('woff'),
  url('../font/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '../font/Roboto';
  src: url('../font/Roboto-Medium.eot');
  src: url('../font/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/Roboto-Medium.woff2') format('woff2'),
  url('../font/Roboto-Medium.woff') format('woff'),
  url('../font/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '../font/Roboto';
  src: url('../font/Roboto-MediumItalic.eot');
  src: url('../font/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/Roboto-MediumItalic.woff2') format('woff2'),
  url('../font/Roboto-MediumItalic.woff') format('woff'),
  url('../font/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '../font/Roboto';
  src: url('../font/Roboto-Regular.eot');
  src: url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/Roboto-Regular.woff2') format('woff2'),
  url('../font/Roboto-Regular.woff') format('woff'),
  url('../font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '../font/Roboto';
  src: url('../font/Roboto-Thin.eot');
  src: url('../font/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('../font/Roboto-Thin.woff2') format('woff2'),
  url('../font/Roboto-Thin.woff') format('woff'),
  url('../font/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '../font/Roboto';
  src: url('../font/Roboto-ThinItalic.eot');
  src: url('../font/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/Roboto-ThinItalic.woff2') format('woff2'),
  url('../font/Roboto-ThinItalic.woff') format('woff'),
  url('../font/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: Roboto;
  margin: 0;
}
.nav-item a{
  transition: 0.2s ease-in-out;
}
button{
  transition: all 0.3s ease-in-out;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}
.to-uppercase{
  text-transform: uppercase;
}
.main-button{
  padding: 1.25rem 2.5rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  background-size: 200% auto;
  color: #ffffff;
  background-repeat: 5px;
}
.main-button:hover{
  background-position: center right;
}
.blurline{
  display: inline-block;
  position: relative;
  top: -2px;
  width: 80px;
  height: 4px;
  filter: blur(4px);
  margin-left: 0.31rem;
  background-color: rgba(237,35,159,.6);
  border-radius: 5px;
}
.main-title{
  margin-top: 0;
  color: #05364d;
  font-weight: 700;
  font-size: 2.625rem;
  text-transform: capitalize;
  margin-bottom: 1.875rem;
}
.main-heading{
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 0.625rem;
  color: #797979;
}
.main-text{
  color: #797979;
  line-height: 27px;
  font-weight: 300;
  font-size: 14px;
  margin: 0 0 40px;
}
.learn-link{
  display: inline-block;
  margin-top: 2.19rem;
  color: #05364d;
  font-size: 0.81rem;
  text-decoration: none;
  text-transform: uppercase;
}
.clearfix{
  clear: both;
}
/* header-section */
.header-section{
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
}
.site-brand img{
  width: 70px;
}
.header-section .container{
  display: flex;
  align-items: center;
}
.nav-item{
  display: inline-block;
  padding: 0.625rem;
}
.nav-item a{
  color: #05364d;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
}
.nav-item a:hover{
  color: #efb6df;
}
.nav-item.active a{
  color: #efb6df;
}

/* footer-sectiom */
footer{
  padding: 100px 0;
  background-color: #021017;
  text-align: center;
}
.footer-brand img{
  width: 125px;
}
.f-nav__item a{
  color: white;
}
.f-social-media a{
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 36px;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  color: #05364d;
  margin-right: 12px;
}
.f-social-media a:hover{
  color: white;
  background: -webkit-linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
}
.copyright{
  font-size: 14px;
  line-height: 27px;
  font-weight: 300;
  font-family: "../font/Roboto",sans-serif;
  color: #797979;
}

/* media query */
@media screen and (max-width: 991px) {
  .container{
    width: 95%;
  }
  .head-nav{
    display: none;
  }
}
@media screen and (max-width: 767px){
  .container{
    width: 92%;
  }
  .main-button{
    display: none;
  }

}