/* hero-section */

.hero-section{
  padding-top: 200px;
}
.hero-section > div{
  width: 50%;
  float: left;
}
.hero-img{
  text-align: right;
}
.hero-banner{
  background: url(../image/main-banner.png) no-repeat top center;
  background-position: center;
  background-size: cover;
  min-height: 890px;
}
.hero-img img{
  width: 348px;
}
.hero-text{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #797979;
}
.hero-name{
  margin-top: 20px;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 20px;
  color: #05364d;
}
.hero-position{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 0;
  color: #05364d;
}
.social-media__icons{
  margin: 48px 0;
}

.social-media__icons i{
  margin-left: 5px;
  font-size: 25px;
  color: rgba(5,54,77,.5);
}
.social-media__icons i:hover{
  color: blue;
}
/* statistic-section */

.statistics-section{
  padding-top: 100px;
}
.stat-item{
  vertical-align: top;
  width: 105px;
  display: inline-block;
  background-color: #f8faff;
  text-align: center;
  padding: 5px 10px;
  margin-right: 20px;
}
.stat-number{
  background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 27px;
  margin-bottom: 5px;
}
.stat-text{
  margin-top: 5px;
  font-size: 16px;
  line-height: 24px;
}

/* whoami-section */
.whoami-section{
  padding: 100px 0;
}
.whoami-section > div{
  width: 50%;
  float: left;
}
.whoami-img img{
  width: 80%;
}

/* services-section */
.services-section{
  padding: 100px 0;
}
.services-item{
  display: inline-block;
  width: 27%;
  box-sizing: border-box;
  background-color: #f8faff;
  text-align: center;
  padding: 50px 30px;
  margin-right: 2%;
}
.services-item:hover{
  background-color: #5f30ff;
}
.services-item:hover .service-info,
.services-item:hover .main-text,
.services-item:hover .learn-link{
  color: #ffffff;
}
.services-item img{
  margin-bottom: 40px;
}
.service-info{
  font-weight: 500;
  font-size: 20px;
  color: #05364d;
  margin-bottom: 20px;
}

/* testimonial-section */
.testimonial-section > div{
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.testimonial-img img{
  width: 90%;
}
.t-name{
  padding-top: 70px;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #05364d;
}
.t-position{
  margin-top: 0;
  color: #5b6d75;
  font-size: 14px;
  font-weight: 300;
}
.star-list{
  color: gold;
}

/* portfolio-section */
.portfolio-section{
  padding-top: 150px;
}
.portfolio-filters{
  padding-left: 0;
  margin-bottom: 30px;
}
.portfolio-filters li{
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 40px;
  color: #05364d;
  font-size: 13px;
  font-weight: 400;
}
.portfolio-filters li:hover{
  color: #1345e6;
}
.portfolio-filters li.active{
  color: #1345e6;
}
.portfolio-images{
  position: relative;
}
.portfolio-images img{
  width: 100%;
}
.portfolio-img{
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  width: 50%;
}
.portfolio-img-2{
  position: absolute;
  top: 0;
  right: 0;
}
.portfolio-img-3, .portfolio-img-4{
  position: absolute;
  width: 50%;
  top: 315px;
}
.portfolio-img-4{
  right: 0;
}
.portfolio-img-5{
  position: absolute;
  top: 860px;
  left: 0;
}
.portfolio-img-6{
  position: absolute;
  top: 655px;
  right: 0;
}
.portfolio-overlay{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19,69,230,.9);
  visibility: hidden;
}
.portfolio-info{
  z-index: 2;
  position: absolute;
  bottom: 44px;
  left: 80px;
  color: white;
  font-size: 14px;
  visibility: hidden;
}
.portfolio-info a{
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.portfolio-img:hover .portfolio-overlay{
  visibility: visible;
  top: 20px;
  left: 20px;
}
.portfolio-img:hover .portfolio-info{
  visibility: visible;
  left: 60px;
  bottom: 20px;
}

/* blog-section */
.blog-section{
  padding: 100px 0;
}
.blog-items{
  margin-top: 100px;
}
.blog-item{
  display: inline-block;
  box-sizing: border-box;
  background-color: #f8faff;
  width: 30%;
  margin-right: 3%;
}
.blog-item:hover{
  box-shadow: 0 10px 20px rgb(5 54 77/10%);
  background-color: white;
}
.blog-img img{
  width: 100%;
}
.blog-info{
  padding: 30px;
  color: #797979;
}
.blog-info .heading-title{
  color: #05364d;
}
.blog-info span{
  margin-right: 30px;
  font-size: 14px;
}
.blog-info i{
  margin-right: 5px;
}

.blog-item a:hover{
  color: #ed239f;
}
/* partners-section */
.partner{
  margin: 50px 0 100px;
  display: inline-block;
  padding: 0 30px;
}

/* media query */
@media screen and (max-width: 991px) {
  .hero-img img{
    display: none;
  }
  .hero-section > div{
    width: 100%;
  }
  .statistics-section{
    padding-top: 1rem;
    text-align: center;
  }

  .whoami-img img{
    display: none;
  }
  .whoami-section > div{
    width: 100%;
  }
  .services-item{
    width: 45%;
    margin-bottom: 20px;
  }
  .testimonial-section > div{
    width: 100%;
    float: none;
  }
  .blog-item{
    width: 45%;
    margin-bottom: 20px;
  }
  .partner{
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .hero-banner{
    background: none;
    min-height: auto;
  }
  .stat-item{
    width: 100%;
    margin-bottom: 0.8rem;
    margin-right: 0;
    box-sizing: border-box;
  }
  .services-item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.8rem;
  }
  .portfolio-section{
    padding: 1.5rem 0;
  }
  .portfolio-img{
    width: 100%;
  }
  .portfolio-img-2,
  .portfolio-img-3,
  .portfolio-img-4,
  .portfolio-img-5,
  .portfolio-img-6{
    position: static;
  }
  .blog-section{
    padding: 1.5rem 0;
  }
  .blog-item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

}
